@model BusinessTripApplication.ViewModels.RegistrationViewModel

@{
    Layout = "";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loginValidation")

    <script type="text/javascript" src="@Url.Content("/Scripts/ValidationScriptRegistration.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/ParseURL_registration.js")"></script>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Content/login_registration.css">
</head>
<body>
<br />
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Register</h1>
            <div class="col-md-6 mx-auto">
                <br/>
                @if (Model.Message != null)
                {
                    if (Convert.ToBoolean(Model.Status))
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong>@Model.Message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Error!</strong>@Model.Message
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Name, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.User.Name, new {htmlAttributes = new {@class = "form-control", @data_toggle = "tooltip", @title = "Hooray!", @data_placement = "top", style = "border:1px solid rgb(52, 58, 64)"}})
                                    @* @Html.ValidationMessageFor(model => model.Name, "", new { @id= "text-danger-username", @class = "text-danger" }) *@
                                    @Html.ValidationMessage("", new {id = "username_error_message", style = "color:red"})
                                </div>

                                <div class=" form-group">
                                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.User.Email, new {htmlAttributes = new {@class = "form-control", @data_toggle = "tooltip", @title = "Hooray!", @data_placement = "top", style = "border:1px solid rgb(52, 58, 64)"}})
                                    @* @Html.ValidationMessageFor(model => model.Email, "", new { @id = "text-danger-email", @class = "text-danger" }) *@
                                    @Html.ValidationMessage("", new {id = "email_error_message", style = "color:red"})
                                </div>

                                <div class=" form-group">
                                    @Html.LabelFor(model => model.User.Password, htmlAttributes: new {@class = "control-label"})
                                    @Html.EditorFor(model => model.User.Password, new {htmlAttributes = new {@class = "form-control", data_toggle = "tooltip", title = "Hooray!", data_placement = "top", style = "border:1px solid rgb(52, 58, 64)"}})
                                    @* @Html.ValidationMessageFor(model => model.Password, "", new { @id = "text-danger-password", @class = "text-danger" }) *@
                                    @Html.ValidationMessage("", new {id = "password_error_message", style = "color:red"})
                                </div>




                                <div class="form-group">
                                    <input id="btn_Create" onclick="return false" type="submit" value="Create" class="btn btn-primary btn-lg" style="width: 100%;"/>

                                </div>
                            }
                        </div>

                        <div class="card-footer">
                            <p style="color: black;">If you already have an account please <button id="btn_SignUp" type="button" e, onclick="window.open('https://localhost:44328/User/Login?email=' + document.getElementById('User_Email').value, '_self', 'resizable=yes')" class="btn btn-primary btn-sm">Log In</button> </p>
                        </div>

                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-6 mx-auto">
                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        @Html.ActionLink("About", "About", "Home")
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<footer style="float: right; margin-right: 50px">
    <p>&copy; @DateTime.Now.Year - BusinessTripApplication  </p>
</footer>
</body>