@model BusinessTripApplication.ViewModels.RegistrationViewModel

<h2>Registration</h2>
@if (Model.Message != null)
{
    if (Convert.ToBoolean(Model.Status))
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@Model.Message
        </div>
    }
    else
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>@Model.Message
            </div>
        }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript" src="@Url.Content("/Scripts/ValidationScript.js")"></script>

    }

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.User.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                @* @Html.ValidationMessageFor(model => model.Name, "", new { @id= "text-danger-username", @class = "text-danger" }) *@
                @Html.ValidationMessage("", new { id = "username_error_message", style = "color:red" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                @* @Html.ValidationMessageFor(model => model.Email, "", new { @id = "text-danger-email", @class = "text-danger" }) *@
                @Html.ValidationMessage("", new { id = "email_error_message", style = "color:red" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
                @* @Html.ValidationMessageFor(model => model.Password, "", new { @id = "text-danger-password", @class = "text-danger" }) *@
                @Html.ValidationMessage("", new { id = "password_error_message", style = "color:red" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input disabled id="btn_Create" type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
