@model IEnumerable<BusinessTripModels.Trip>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BusinessTripApplication</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img class="navbar-brand" src="~/Resources/logo.png" alt="logo" style="width:100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Trips", "Index", "Trips", null, new { @class = "nav-link dropdown-toggle", @data_toggle = "dropdown", @role = "button", aria_haspopup = "true", @aria_expanded = "false" })
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Home", "Index", "Trips", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Create", "Create", "Trips", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(linkText: "Contact", controllerName: "Home", actionName: "Contact", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
            </ul>

            <div class="filter-bar">

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                    Search
                </button>

                <!-- Modal -->
                <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Trip Search</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                             


                                <h6>Transportation</h6>
                                @Html.DropDownList("dropRoles", new List<SelectListItem>()
                              {
                              new SelectListItem() { Text= "Car", Value = "true" },
                              new SelectListItem() { Text= "Train", Value = "false" },
                              new SelectListItem() { Text= "AirPlane", Value = "false", Selected = true }
                              }, "Select ...")


                                @Html.AntiForgeryToken()

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <h6>Date Time</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group input-daterange" id="datepicker">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">From</span>
                                            </div>
                                            @Html.TextBox("Date", new { @class = "form-control", @placeholder = "Select a date", @autocomplete = "off" })
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">To</span>
                                            </div>

                                            @Html.TextBox("Date", new { @class = "form-control", @placeholder = "Select a date", @autocomplete = "off" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>



                                <h6>Location</h6>
                                @Html.DropDownList("dropRoles", new List<SelectListItem>()
                              {
                              new SelectListItem() { Text= "Cluj", Value = "true" },
                              new SelectListItem() { Text= "Bucuresti", Value = "false" },
                              new SelectListItem() { Text= "Brasov", Value = "false", Selected = true }
                              }, "Select ...")

                                </br>
                                </br>

                                <button type="button" class="btn btn-primary">Primary</button>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


        </div>

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
            {
                <a class="navbar-nav nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        }





    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/selectJS")
    @Scripts.Render("~/bundles/datepickerJS")

    @Styles.Render("~/bundles/datepickerCSS")
    @Styles.Render("~/bundles/selectCSS")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('.selectpicker').selectpicker();

        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            startDate: "today",
            language: "ro",
            orientation: "bottom auto"
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }

    </script>

</body>
</html>
