<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BusinessTripApplication</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img class="navbar-brand" src="~/Resources/logo.png" alt="logo" style="width:100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Trips", "Index", "Trips", null, new { @class = "nav-link dropdown-toggle", @data_toggle = "dropdown", @role = "button", aria_haspopup = "true", @aria_expanded = "false" })
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Home", "Index", "Trips", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Create", "Create", "Trips", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink(linkText: "Contact", controllerName: "Home", actionName: "Contact", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
            </ul>


            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a class="navbar-nav nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }
            }
            else
            {
                @Html.ActionLink(linkText: "Log in", controllerName: "User", actionName: "LogIn", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                @Html.ActionLink(linkText: "Sign up", controllerName: "User", actionName: "Registration", routeValues: null, htmlAttributes: new { @class = "nav-link" })
            }

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
