@model BusinessTripModels.Models.Trip


<div class="modal-header">
    <h4 class="modal-title">Info</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PmName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PmName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaskNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClientLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartureLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartureLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Transportation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Transportation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NeedOfPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NeedOfPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NeedOfBankCard)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NeedOfBankCard)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accommodation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accommodation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>


        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
</div>